__pycache__/
*.pyc
concept-erasure
*.egg-info
wandb
plots/
generated_hidden_states/
results.json
.devcontainer
*.html
neel-plotly
.vscode/
.ipynb_checkpoints/
circuits/
api_key.txt
venv/

data/*
!data/gpt2-small

data/gpt2-small/*
!data/gpt2-small/*simple_train_ADJ*

data/gpt2-small/*activations.npy
